body {
    font: small 'Lucida Grande', Verdana, Arial, sans-serif;
	
}

h1 {
    font-size: 40px;
    font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px;
}

/* the results section should be initially invisible */
section#results {
    display: none;
	padding-top: 50px;	
	height: 150px;
	
	
}
table {
    border-collapse: collapse;
    margin-bottom: 50px;
	width: 100%;
	
}

table thead{
    font-weight: bold;
	padding: 8px;	
	
	background-color: #04AA6D;
	color: white;
	position: sticky;
	top: 0;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

table td {
    border: 1px solid rgb(200,200,200);
    padding: 2px 10px;
	/*word-wrap: break-word;*/
	text-align:left;
}


div#search {
	display: none;
}

div#sec_space {
	display: none;	
	padding-top: 190px;
}

section#sbox {
    display: none;	
	padding-top: 10px;
}


section#fs_results {
	display: none;
	height: 300px;
	
}
p#rec {
	font-size: 120%;
    font-weight: bold;
	color: green;
	padding-top: 10px;
}

#searchval {
	display: none;	
	height:200px;
}

td#seq {
	width:500;
}


section#db_results {
	display: none;
	height: 150px;
}
#dbval {
	display: none;
	/*height:200px;*/
}

div#match_res {
	display: none;
}

div#ascroll {
	overflow-x:auto;
	overflow-y:auto;
	
}

div#vscroll {
	overflow-y:auto;
}
#file_search {
	padding-top: 50px;

}

#sMsg {
	font-size: 120%;
    font-weight: bold;
	color: blue;
	padding-top: 10px;
	
}
#msg {
	font-size: 120%;
    font-weight: bold;
	color: red;
	padding-top: 10px;
	
}

#search2{
	font-size: 120%;
    font-weight: bold;
	color: red;
	padding-top: 10px;
	
}
#f_match {
	font-size: 120%;
    font-weight: bold;
	color: green;
	padding-top: 10px;
	
}

label {
	font-size: 120%;
    font-weight: bold;
	
}

#txtsearch {
	font-size: 120%;
    font-weight: bold;
	color: green;
}
/* Create two equal columns that floats next to each other */
div.upsection {
	padding-top: 50px;
	 background-color: #04AA6D;
	 color:white;
	 
}
div.column1 {
  position: absolute;
  top: 80px;
  left: 0;
  width: 500px;
  height: 100px;  
  padding-left: 50px;
  padding-top: 50px;
  vertical-align:center;
  text-align:center;
	
}
div.column2 {
  position: absolute;
  top: 80px;
  right: 0;
  width: 600px;
  height: 100px;  
  padding-right: 50px;
  padding-top: 50px;
  vertical-align:center;
  text-align:center;
 

}
div#db_res {
	display: none;
}

#searchfasta {
	display: none;
}
input[type=submit] {
    width:100px;
    font-weight: bold;
    border:2px solid #800080; 
    
}

input[type=search] {
    width:200px;
    font-weight: bold;
	box-sizing: border-box;
    border:2px solid #800080; 
    
}
#fileval {
	border:2px solid #800080; 
}
